[data-cid^="4249648-"] .info .from .icon-chat-manager, #user-lists .list.room .id-4249648 .icon-chat-manager  {
    background-image: url("https://cdn.radiant.dj/rcs/icons/radiant/admin.png") !important;
}
#chat-messages .fromID-4249648 .badge-box i,
#chat-messages  .id-4249648 .badge-box i {
    background-image: url(http://i.imgur.com/YYvfXPB.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

#chat-messages .fromID-3817231 .badge-box i,
#chat-messages  .id-3817231 .badge-box i {
    background-image: url(https://66.media.tumblr.com/f9b63bad59fe38d5ab61895a7019c6be/tumblr_oabhw8v1XR1vzw5sko1_250.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    
}

#chat-messages .fromID-4453457 .badge-box i,
#chat-messages  .id-4453457 .badge-box i {
    background-image: url(http://i.imgur.com/1Dwfo9m.gif);
    background-size: cover;
    width: 31px;
    height: 39px;
    top: -8px;
    left: 0;
    border: none;
    border-radius: 0;
    
}

#chat-messages .fromID-5148176 .badge-box i,
#chat-messages  .id-5148176 .badge-box i {
    background-image: url(https://lh5.googleusercontent.com/-R2ag2z6AIJk/U3cd4o67SbI/AAAAAAAAByA/O3f2BHyDgAU/tumblr_mvoz6xgbmf1rlj744o4_250.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    
}
#chat-messages .fromID-4705414 .badge-box i,
#chat-messages  .id-4705414 .badge-box i {
    background-image: url(https://66.media.tumblr.com/8bcfa239d8f3e76f8c002ea4f0ef4d75/tumblr_o8kua3f98v1vnawndo1_500.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    
}

#chat-messages .fromID-5023528 .badge-box i,
#chat-messages  .id-5023528 .badge-box i {
    background-image: url(http://i.imgur.com/VdZEY0i.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    
}

#chat-messages .fromID-14202282 .badge-box i,
#chat-messages  .id-14202282 .badge-box i {
    background-image: url(http://i.imgur.com/LRQytyQ.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    
}

#chat-messages .fromID-3857431 .badge-box i,
#chat-messages  .id-3857431 .badge-box i {
    background-image: url(http://lh5.ggpht.com/_hf9dXh_1X68/TdYBcrHn09I/AAAAAAAADNM/4ZmYZ31Z838/avrilsmile39.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    
}

#chat-messages .fromID-3925828 .badge-box i,
#chat-messages  .id-3925828 .badge-box i {
    background-image: url(https://66.media.tumblr.com/9c00685b9c7fca760d2d1fe3fdfc98d7/tumblr_mk9iltzHX61r2259oo1_r1_500.gif);
    background-size: cover;
    width: 41px;
    height: 30px;
    top: 0;
    left: -10px;
    border: none;
    border-radius: 0;
    
}

#chat-messages .fromID-6643028 .badge-box i,
#chat-messages  .id-6643028 .badge-box i {
    background-image: url(http://cdn3.teen.com/wp-content/uploads/2016/06/demi-lovato-photoshoot-pucker-mint-green-nails.gif);
    background-size: cover;
    width: 41px;
    height: 30px;
    top: 0;
    left: -10px;
    border: none;
    border-radius: 0;
    
}

#chat-messages .fromID-3733860 .badge-box i,
#chat-messages  .id-3733860 .badge-box i {
    background-image: url(http://65.media.tumblr.com/e9d59d60cd9fe48c8966c763cb11f360/tumblr_inline_nqka8gtNLF1r25xgk_500.gif);
    background-size: cover;
    width: 41px;
    height: 30px;
    top: 0;
    left: -10px;
    border: none;
    border-radius: 0;
    
}

[data-cid^="3424833-"] .badge-box .bdg {
    background-image: url("http://i.imgur.com/AqlZ8lD.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3424833 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/AqlZ8lD.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
